html {
	font-family: 'Cormorant Garamond', serif;
  font-family: 'Assistant', sans-serif;
  /* font-family: 'Yantramanav', sans-serif; */
  /* font-family: 'Palanquin', sans-serif; */
	background: #fdf2e9;
}

body, ul, ol, li, h1, h2, h3, h4, h5, h6, div, nav, header, footer, section, main, article, button, input, label, p {
	margin: 0;
	padding: 0;
  font-family: inherit;
	list-style: none;
	box-sizing: border-box;
}

main {
	padding: 20px;
}

header {
	background: #CD5C5C;
	color: white;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav {
	background: white;
	padding: 20px;
	display: flex;
}

nav > a {
	margin: 0 10px 0 10px;
}

nav > a.active {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
}

.tooltip-container:hover .tooltip {
	display: flex;
}

.tooltip {
	display: none;
	position: fixed;
	bottom: 0;
	right: 0;
	background: rgba(255, 255, 255, 0.8);
	border-radius: 10px;
	z-index: 1;
	padding: 5px;
	margin: 0;
	font-size: 20px;
}

button, input[type="submit"] {
	cursor: pointer;
	max-width: 200px;
	margin: 0 3px 0 3px;
	padding: 2px;
}

select {
  background: white;
}

label > input:first-child, label > select:first-child {
	margin-left: 5px;
}

input[type="text"], input[type="number"], textarea, select {
	padding: 2px;
}

.tiny-button {
	padding: 1px;
	margin: 3px;
  height: 20px;
  width: 20px;
}

.remove-button {
	border: 1px solid #A93226;
	background: white;
	color: #A93226;
}

.remove-button:hover {
  background: #A93226;
  color: white;
}

.add-button {
	border: 1px solid #1E8449;
	background: white;
	color: #1E8449;
}

.add-button:hover {
	background: #1E8449;
	color: white;
}

.plain-button {
	background: white;
	border: 1px solid #CCD1D1;
	padding: 5px 10px;
}

.plain-button:hover {
	font-weight: 600;
}

.small-input {
	width: 60px;
}

.hide-button {
	background: rgba(255, 255, 255, 0);
	border: 1px solid black;
	background: white;
	height: 20px;
	width: 20px;
	line-height: 0.3;
}

.hide-button:hover {
	background: black;
	color: white;
}

.mar-20 {
	margin: 20px;
}

.pa-10 {
	padding: 10px;
}

.sq-button {
	height: 25px;
	width: 25px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.row.no-margin{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.col {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}


.space-around {
  justify-content: space-around;
}

.col-15 {
  width: 10%;
}

.col-30 {
  width: 30%;
}

.col-40 {
  width: 40%;
}

.col-45 {
  width: 45%;
}

.col-50 {
  width: 50%;
}

.col-60 {
  width: 60%;
}

.blocks > div, .blocks > label {
  margin-right: 20px;
}

.blocks > div:last-child, .blocks > label:last-child {
  margin-right: 0;
}
