.character-sheet {
  display: flex;
  flex-direction: column;
}

.character-sheet nav {
  background: white;
  padding: 20px;
}

.character-sheet > .character-form,
.character-sheet > .proficiency-section,
.character-sheet > .bonus-section {
  padding: 0px 20px 0px 20px;
  display: flex;
  flex-direction: column;
}

label > input[type="checkbox"]:first-child {
  margin-right: 5px;
}
