.character-sheet {
  display: flex;
  flex-direction: column;
}

.character-sheet nav {
  background: white;
  padding: 20px;
}

.character-sheet > .character-form,
.character-sheet .proficiency-section,
.character-sheet .bonus-section,
.character-sheet .equipment-section,
.character-sheet .weapon-section {
  margin: 0px 10px 0px 10px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.weapon-section {
  background: #f6ddcc;
}

.equipment-section {
  background: #fcf3cf;
}

.proficiency-section {
  background: #d4efdf;
}

.bonus-section {
  background: #d4e6f1;
}

.death-saves {
  display: flex;
  flex-direction: column;
}

.death-save-inputs {
  display: flex;
}

.death-save-inputs > label {
  display: flex;
  flex-direction: column;
}

.backstory textarea {
  width: 100%;
  height: 100px;
}

.spell-section textarea {
  width: 100%;
  height: 100px;
}

.misc-section textarea {
  width: 100%;
  height: 100px;
}

.misc-section,
.spell-section {
  padding-left: 20px;
}

label > input[type="checkbox"]:first-child {
  margin-right: 5px;
}

@media only screen and (max-width: 640px) {
  .character-sheet .basics-and-scores.row > .col-50,
  .character-sheet .basics-and-scores.row > .col-40 {
    width: 100%;
  }

  .misc-section,
  .spell-section {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 400px) {
  .character-sheet .scores.row.blocks > .col-40,
  .character-sheet .scores.row.blocks > .col-30,
  .character-sheet .scores.row.blocks > .col-25 {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .character-sheet .weapons-and-profs > .col-60,
  .character-sheet .weapons-and-profs > .col-40,
  .character-sheet .weapons-and-profs > .col-30,
  .character-sheet .weapons-and-profs > .col-25 {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .character-sheet .equip-spells-misc > .col-40,
  .character-sheet .equip-spells-misc > .col-30,
  .character-sheet .equip-spells-misc > .col-25 {
    width: 100%;
  }
}

@media only screen and (max-width: 300px) {
  .character-sheet .row {
    flex-direction: column;
  }
}
/*
.character-sheet input[type="text"], .character-sheet input[type="number"], .character-sheet textarea {
  background: none;
  border: none;
  border-bottom: 1px solid black;
} */
