.character-sheet {
  display: flex;
  flex-direction: column;
}

.character-sheet nav {
  background: white;
  padding: 20px;
}

.character-sheet > .character-form,
.character-sheet .proficiency-section,
.character-sheet .bonus-section,
.character-sheet .equipment-section,
.character-sheet .weapon-section {
  margin: 0px 10px 0px 10px;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.weapon-section {
  background: #F6DDCC;
}

.equipment-section {
  background: #FCF3CF;
}

.proficiency-section {
  background: #D4EFDF;
}

.bonus-section {
  background: #D4E6F1;
}

.death-saves {
  display: flex;
  flex-direction: column;
}

.death-save-inputs {
  display: flex;
}

.death-save-inputs > label {
  display: flex;
  flex-direction: column;
}

.backstory textarea {
  width: 100%;
  height: 100px;
}

label > input[type="checkbox"]:first-child {
  margin-right: 5px;
}

@media only screen and (max-width: 640px) {
  .character-sheet .basics-and-scores.row > .col-50 {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .character-sheet .scores.row.blocks > .col-30 {
    width: 100%;
  }
}

@media only screen and (max-width: 640px) {
  .character-sheet .weapons-and-profs > .col-60, .character-sheet .weapons-and-profs > .col-30 {
    width: 100%;
  }
}

@media only screen and (max-width: 300px) {
  .character-sheet .row {
    flex-direction: column;
  }
}
/*
.character-sheet input[type="text"], .character-sheet input[type="number"], .character-sheet textarea {
  background: none;
  border: none;
  border-bottom: 1px solid black;
} */
